//import

@import "index.scss";

.layout {

  
  h1 {
    font-family: Fira Code Bold,Helvetica, Arial;
    font-size: 50px;
  }
  h2 {
    font-family: Fira Code Bold,Helvetica, Arial;
    font-size: 30px;
  }
  p{
    font-family: 'Fira Code', monospace;
    text-align: justify;
  }

  

  
}





