.card_home {
  margin-top: 5%;
  border-radius: 25px;
  background: $kbluelight;
  .ui.grid > * {
    padding-left: 2rem;
    /* padding-right: 1rem; */
    padding-bottom: 1px;
  }

  &_text {
    padding: 40px 40px 30px;
    h2{
      text-align: center;
      color: white ;
      font-size: 40px;
    }
    p{
      color: white;
      line-height: 1.4;
      font-size: 16px;

    }
  }


  &_image {
    margin-left: auto !important;
    margin-right: auto ;
    // margin-bottom: 0;
    height: 100%;
    margin-left: 2px;
  }
}
